*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Merriweather", sans-serif;
    color: black;
}

body{
    height: 100vh;
    background: url(pictures/map-bagr.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;

}


.container{
    height: 270px;
    width: 400px;
    border-radius: 7px;
    background:rgba(77, 78, 77, 0.26);
    border: 2px solid #1c2254;
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    
}

.container .wrapper label{
  font-weight: 600;
  margin-top: 45px;
}

.container .wrapper input{
    margin-top: 10px;
}

.container .wrapper button{
    font-weight: 600;
    width: 60%;
    margin-top: 15px;
    border: none;
}

.container .wrapper button:hover{
    background: #048a99;
}

.message{
    display: flex;
    max-width: 600px;
    max-height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px 30px;
    transform: translate(-50%, -50%);
    background: rgba(245, 248, 248);
    border: 1px solid rgba(225, 255, 255, 0.16);
    z-index: 999;
    border-radius: 10px;
    display: none; 
    white-space: pre-wrap; 
}

.message button{
    position:absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-weight: 400;
}

.message h2{
    text-align: center;
    color: #048a99;
    font-weight: 400;
}

#result {
    overflow: scroll;
    min-height: 300px;
    left: 5px;
    font-weight: 500;
    color: #997206;
}

@media (max-width: 768px) {
    .container {
        margin: 0 10px 25px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        font-size: 20px;
    }
}
